<html>
  <head>
    <title>Bloomberg Quint</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="/assets/diamond.png" />
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <div id="container"></div>
    <script type="text/javascript">
      startApp(document.getElementById("container"));
    </script>
  </body>
  <style>
    body {
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      font-family: fantasy, Roboto;
    }
  </style>
</html>
